body {
  color: black;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url("whiteLibrary.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

th {
  font-size: 25px;
  font-style: bold;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse:separate;
  border-spacing:1em;
  background-color: white;
  opacity: .75;
}

.bookTitles {

}

td:hover {
  background: #99FF99;
  font-size: 18px;
}

.active {
  background-color: #a3d9fa;
}

#floatingTitle {
  visibility: hidden;
  position:absolute;
  top:10px;
  right:20px;
  z-index:2;
  height:1.5em;
  padding-left: 10px;
  width:20em;
  font-size:1em;
  color:black;
  background-color: #a3d9fa;
  /*border:solid thin grey;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header-nightsky {
    background-position: bottom;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.header-nightsky .navbar-nav>li>a {
    color: grey;
    font-size: 25px;
    border-radius: 10px;
}

.header-nightsky .navbar {
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.header-nightsky .navbar-default .navbar-nav>.open>a,
.header-nightsky .navbar-default .navbar-nav>.open>a:focus,
.header-nightsky .navbar-default .navbar-nav>.open>a:hover {
    color: #a3d9fa;
    background-color: transparent;
}

.header-nightsky .nav>li>a:hover {
    color: #a3d9fa;
    background-color: transparent;
}

.header-nightsky .navbar-nav>li {
    margin-right: 20px;
}

.header-nightsky .navbar-nav {
   margin-top: 12px;
}

.header-nightsky .navbar-toggle {
    background-color: transparent !important;
    border-color: transparent;
    margin-top: 20px;
}

.header-nightsky .navbar-toggle .icon-bar {
    background-color: grey;
}

.header-nightsky .navbar-brand {
    color: grey;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-nightsky .navbar-brand:hover {
    color: #a3d9fa;
}


.header-nightsky .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}

.header-nightsky .btn-primary:active {
    transform:translateY(1px);
}

@media screen and (max-width: 767px) {

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #a3d9fa;
        font-size: 16px;
    }

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #a3d9fa;
    }

    .header-nightsky .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

}
